<main id="main" class="main">
   <div class="pagetitle">
      <h1>Subscription Plan</h1>
   </div>
   <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h2 class="card-title">Subscription Plan</h2>
                   <div style="margin-bottom: 20px;">
                    <input [(ngModel)]="searchText" placeholder="Search">
                  </div>
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <th scope="col">Plan Name</th>
                           <th scope="col">Payment Type</th>
                           <th scope="col">Validity</th>
                           <th scope="col">Status</th>
                           <th scope="col">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let data of dataMamber.data | filter: searchText | paginate: { itemsPerPage: pagePerItem, currentPage: p}" >
                          <th scope="row" data-toggle="modal" data-target="#exampleModalCenterShow" (click)="getRecord(data)" class="highlight">{{data.name}}</th>
                          <td>
                           <span *ngIf="data.paymentType === 1">Recurring</span>
                           <span *ngIf="data.paymentType === 0">On Time</span>
                       </td>
                          <td>
                           <span *ngIf="data.validityDays === 0 || data.validityDays==='Days' || data.validityDays === '0'  ">Days</span>
                           <span *ngIf="data.validityDays === 1 ||data.validityDays==='Month'  || data.validityDays === '1' ">Months</span>
                           <span *ngIf="data.validityDays === 2 || data.validityDays==='Year'  || data.validityDays === '2' ">Year</span>
                          </td>
                          <td>
                           <span *ngIf="data.status === 1">Published</span>
                           <span *ngIf="data.status === 0">Draft</span>
                       </td>
                          <td><button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenterEdit" title="Edit detail" (click)="getId(data.id);patchValue(data,2)" >
                             <i class="bi bi-pencil"  style="cursor: pointer;" ></i></button>
                             <button type="button" class="btn" title="Delete data"(click)="deleteSubscription(data.id)">
                             <i class="bi bi-trash-fill" style="margin-left: 10px;cursor: pointer;"></i>
                          </button>
                          <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenterPublish" title="Publish data" (click)="getdataForPublish(data)">
                          <i class="bi bi-upload" style="margin-left: 10px;cursor: pointer;"></i>
                       </button></td>
                       </tr>
                    </tbody>
                  </table>
                  <div class="pagination" >
                     <mat-paginator [length]="dataMamber.data.length"
                         [pageSize]="5"
                         [pageSizeOptions]="[5,10, 25, 100]"
                         (page)="loadDataPage($event)">
                     </mat-paginator>
                    </div>
               </div>

            </div>
         </div>
      </div>
       
     <div class="add-more-container text-center btn btn-circle tooltip-custom" 
     data-toggle="tooltip" data-placement="left" title="Add New Banners">
     <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenterEdit" (click)="patchValue(data,1)"><i class="bi bi-plus-lg" ></i></button> 
  </div>
   </section>
   <!-- Modal for Edit -->
   <div class="modal fade" id="exampleModalCenterEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="card">
            <div class="card-body">
               <h2 class="card-title">Subscription Plan Form</h2>
               <form [formGroup]="subscriptionForm" (ngSubmit)="getdataForEditSubscriptionPlan(subscriptionForm.value)" class="row g-3">
                  <div class="col-md-12">
                     <span>Subscription Plan Name</span>
                     <div class="form-floating" [ngClass]="{ 'is-invalid': subscriptionForm.controls.name.errors && (subscriptionForm.controls.name.dirty || subscriptionForm.controls.name.touched) }">
                        <input type="text" formControlName="name" class="form-control" id="floatingName" placeholder="Your Subscription plan name">
                        <div *ngIf="subscriptionForm.controls.name.errors && (subscriptionForm.controls.name.dirty || subscriptionForm.controls.name.touched)">
                          <span class="invalid-feedback" *ngIf="subscriptionForm.controls.name.errors.required">Name is required</span>
                        </div>
                      </div>
                      </div>
                  <div class="col-12">
                     <span>Subscription Plan Description</span>
                     <div class="form-floating">
                        <textarea class="form-control" formControlName="description" placeholder="" id="floatingTextarea" style="height: 100px;"></textarea>
                        <div *ngIf="subscriptionForm.controls.description.errors && (subscriptionForm.controls.description.dirty || subscriptionForm.controls.description.touched)">
                           <span class="invalid-feedback" *ngIf="subscriptionForm.controls.description.errors.required">Description is required</span>
                         </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="col-md-12">
                        <span>Validity</span>
                        <div class="form-floating"> <input type="text" formControlName="validityLevel" class="form-control" id="floatingCity" placeholder="0">
                           <div *ngIf="subscriptionForm.controls.validityLevel.errors && (subscriptionForm.controls.validityLevel.dirty || subscriptionForm.controls.validityLevel.touched)">
                              <span class="invalid-feedback" *ngIf="subscriptionForm.controls.validityLevel.errors.required">validityLevel is required</span>
                            </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-floating mb-3">
                        <span>Days,Month,Year</span>
                        <select class="form-select" id="floatingSelect" aria-label="State" formControlName="validityDays" >
                           <div *ngIf="subscriptionForm.controls.validityDays.errors && (subscriptionForm.controls.validityDays.dirty || subscriptionForm.controls.validityDays.touched)">
                              <span class="invalid-feedback" *ngIf="subscriptionForm.controls.validityDays.errors.required">validityDays is required</span>
                            </div>
                           <option value=0>Days(s)</option>
                           <option value=1>Months(s)</option>
                           <option value=2>Years(s)</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <span>Payment type</span>
                     <select class="form-select" id="floatingSelect" aria-label="State" formControlName="paymentType">
                        <div *ngIf="subscriptionForm.controls.paymentType.errors && (subscriptionForm.controls.paymentType.dirty || subscriptionForm.controls.paymentType.touched)">
                           <span class="invalid-feedback" *ngIf="subscriptionForm.controls.paymentType.errors.required">paymentType is required</span>
                         </div>
                        <option selected value=0>On Time</option>
                        <option value=1>Recurring</option>
                     </select>       
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                     <span>Price</span>
                     <div class="form-floating"> <input type="text" formControlName="price" class="form-control" id="floatingCity" placeholder="0">
                        <div *ngIf="subscriptionForm.controls.price.errors && (subscriptionForm.controls.price.dirty || subscriptionForm.controls.price.touched)">
                           <span class="invalid-feedback" *ngIf="subscriptionForm.controls.price.errors.required">price is required</span>
                         </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-floating mb-3">
                     <span>Days,Month,Year</span>
                     <select class="form-select" id="floatingSelect" aria-label="State">
                        <option value=0>Days(s)</option>
                        <option value=1>Months(s)</option>
                        <option value=2>Years(s)</option>
                     </select>
                  </div>
               </div>
               <div class="col-md-12">
                  <span>Status</span>
                  <select class="form-select" id="floatingSelect"  aria-label="State" formControlName="status">
                     <div *ngIf="subscriptionForm.controls.status.errors && (subscriptionForm.controls.status.dirty || subscriptionForm.controls.status.touched)">
                        <span class="invalid-feedback" *ngIf="subscriptionForm.controls.status.errors.required">status is required</span>
                      </div>
                     <option selected value=0>Active</option>
                     <option value=1>Deactivate</option>
                  </select>       
             </div>
                  <div class="text-center">
                      <button type="submit" [disabled]="!subscriptionForm.valid" class="btn btn-primary"  >Submit</button>
                      <button type="reset" class="btn btn-secondary" style="margin-left: 10px;">Reset</button>
                  </div>
               </form>
            </div>
         </div>
       </div>
     </div>
   </div>
 <!-- Model for Publish -->
 <div class="modal fade" id="exampleModalCenterPublish" tabindex="-1" role="dialog"     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle" style="display: flex; align-items: center; justify-content: center;">Send for Publish</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <label></label>
         <h3>Note: Do you want to Publish/Draft this ?.</h3>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pusblishData()">Publish/Draft</button>
      </div>
    </div>
  </div>
</div>

<!-- Discribe single record detail -->
<div class="modal fade" id="exampleModalCenterShow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h2 class="modal-title" id="exampleModalLongTitle">Subscription Plans Details</h2>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div class="listview" >
            <dl class="list">
                <dt> Plan Name </dt>
                <dd> {{name}}  </dd>
            </dl>
            <dl class="list">
                <dt> Payment Type </dt>
                <dd>
                  <ng-container *ngIf="status === 1; else Recurring">On Time</ng-container>
                  <ng-template #Recurring>Recurring</ng-template>
                </dd>
            </dl>
            <dl class="list">
                <dt> Validity </dt>
                <dd *ngIf="validityDays === 0 || validityDays==='Days' || validityDays === '0'  ">Days</dd>
                <dd *ngIf="validityDays === 1 || validityDays==='Month'  || validityDays === '1' ">Months</dd>
                <dd *ngIf="validityDays === 2 || validityDays==='Year'  || validityDays === '2' ">Year</dd>
            </dl>
            
            <dl class="list">
               <dt> Status </dt>
               <dd>
                  <ng-container *ngIf="status === 1; else draft">Published</ng-container>
                  <ng-template #draft>Draft</ng-template>
                </dd>
            </dl>

        </div>

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

</main>