<main id="main" class="main">
   <div class="pagetitle">
      <h1>Tage</h1>
   </div>
   <div class="tab-section">
      <ul>
          <li class="{{type==1?'active':''}}"><a (click)="type=1;this.getData();"
           >Admin </a></li>
          <li class="{{type==2?'active':''}}"><a (click)="type=2;this.getData();" 
            > Merchant </a></li>
      </ul>
  </div>
   <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <th scope="col">Name</th>
                           <th scope="col">{{type==1?"Assigned to":"Assign to"}}</th>
                           <th scope="col">Action</th>
                        </tr>
                     </thead>
                     <tbody  >
                       <tr *ngFor="let data of dataMamber.data.rows | filter: searchText | paginate: { itemsPerPage: pagePerItem, currentPage: p}">
                         <th scope="row" (click)="onRowSelect(data)" style="cursor: pointer;">{{data.name}}</th>
                         <td><a (click)="onRowSelect(data)" style="cursor: pointer; color: blue;">{{data.assignedToCount}}</a> </td>
                         <td id="crossAndEdit">
                          <button type="button" *ngIf="editTag"  class="btn" data-toggle="modal" data-target="#exampleModalCenterEditAdmin" (click)="getId(data.id);patchValue(data,2)">
                             <i class="bi bi-pencil-fill" style="cursor: pointer;"></i>
                          </button>                
                          <button type="button" *ngIf="deleteTags" class="btn"   (click)="deleteTag(data.id);">
                             <i class="bi bi-trash-fill" style="margin-left: 10px;cursor: pointer;"></i>
                          </button>
                       </td>
                       </tr>
                     </tbody>
                  </table>  
                  <div class="pagination" >
                   <mat-paginator [length]="dataMamber.data.rows.length"
                       [pageSize]="5"
                       [pageSizeOptions]="[5,10, 25, 100]"
                       (page)="loadDataPage($event)">
                   </mat-paginator>
                  </div>
                  <div *ngIf="addTag" class="add-more-container text-center btn btn-circle tooltip-custom" 
                  data-toggle="tooltip" data-placement="left" title="Add New Admin Tage">
                  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenterEditAdmin" (click)="patchValue(0,1);"><i class="bi bi-plus-lg" ></i></button> 
               </div> 
                 </div>
            </div>
         </div>
      </div>
   </section>
     <!-- Model for Add & Edit Admin tage-->
  <div class="modal fade" id="exampleModalCenterEditAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h2 class="modal-title" id="exampleModalLabel">{{this.tagId != null?'Edit':'Add'}} {{this.type==1?'Admin':'Merchant'}} Tage</h2>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <form  [formGroup]="tagForm" (ngSubmit)="editTags(tagForm.value)">
             <div class="form-group" >
              <div class="col-md-12">
                <h3>Tags Name</h3>
                <div class="form-floating" [ngClass]="{ 'is-invalid': tagForm.controls.name.errors && (tagForm.controls.name.dirty || tagForm.controls.name.touched) }">
                   <input type="text" formControlName="name" class="form-control" id="floatingName" placeholder="Your Subscription plan name">
                   <div *ngIf="tagForm.controls.name.errors && (tagForm.controls.name.dirty || tagForm.controls.name.touched)">
                     <span class="invalid-feedback" *ngIf="tagForm.controls.name.errors.required">Name is required</span>
                   </div>
                 </div>
                 </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!tagForm.valid">Save</button>
          </div>
             </div>
       </form>
       </div>
     </div>
   </div>

</main>