<main id="main" class="main">
   <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
         </ol>
      </nav>
   </div>
   <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Datatables</h5>

                  <div>
                     <input [(ngModel)]="searchText" placeholder="Search">
                  </div>
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <th>Id</th>
                           <th>Name</th>
                           <th>Age</th>
                           <th>Email</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr
                           *ngFor="let person of people | filter: searchText | paginate: { itemsPerPage: 5, currentPage: p }">
                           <td (click)="getId(person.id)" style="cursor: pointer;">{{person.id}}</td>
                           <td>{{ person.name }}</td>
                           <td>{{ person.age }}</td>
                           <td>{{ person.email }}</td>
                        </tr>
                     </tbody>
                     <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>