<main id="main" class="main">
    <div class="pagetitle">
       <h1>Audit and logs Tables</h1>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Audit and logs</h5>

                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">Data/Time</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Latest Activity</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <th scope="row">1</th>
                            <td>Brandon Jacob</td>
                            <td>Designer</td>
                            <td>28</td>

                         </tr>
                         <tr>
                            <th scope="row">2</th>
                            <td>Bridie Kessler</td>
                            <td>Developer</td>
                            <td>35</td>

                         </tr>
                         <tr>
                            <th scope="row">3</th>
                            <td>Ashleigh Langosh</td>
                            <td>Finance</td>
                            <td>45</td>

                         </tr>
                         <tr>
                            <th scope="row">4</th>
                            <td>Angus Grady</td>
                            <td>HR</td>
                            <td>34</td>

                         </tr>
                         <tr>
                            <th scope="row">5</th>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Division Officer</td>
                            <td>47</td>

                         </tr>
                         <tr>
                           <th scope="row">6</th>
                           <td>Brandon Jacob</td>
                           <td>Designer</td>
                           <td>28</td>

                        </tr>
                        <tr>
                           <th scope="row">7</th>
                           <td>Bridie Kessler</td>
                           <td>Developer</td>
                           <td>35</td>

                        </tr>
                        <tr>
                           <th scope="row">8</th>
                           <td>Ashleigh Langosh</td>
                           <td>Finance</td>
                           <td>45</td>

                        </tr>
                        <tr>
                           <th scope="row">9</th>
                           <td>Angus Grady</td>
                           <td>HR</td>
                           <td>34</td>

                        </tr>
                        <tr>
                           <th scope="row">10</th>
                           <td>Raheem Lehner</td>
                           <td>Dynamic Division Officer</td>
                           <td>47</td>

                        </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>