<main id="main" class="main">
    <div class="pagetitle">
       <h1>Users</h1>

    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Users</h5>
                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Location</th>
                            <th scope="col">Tier</th>
                            <th scope="col">Point earned</th>
                            <th scope="col">Points redeemed</th>
                            <th scope="col">Register On</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of dataMamber" >
                           <th scope="row">{{data.name}}</th>
                           <td>{{data.email}}</td>
                           <td>{{data.phoneNumber}}</td>
                           <td>{{data.location}}</td>
                           <td>{{data.tier}}</td>
                           <td>{{data.pointEarned}}</td>
                           <td>{{data.pointRedeemed}}</td>
                           <td>{{data.registerOn}}</td>
                           <td><span [ngClass]="{'badge bg-warning': data.status === 'Panding', 'badge bg-success': data.status === 'Approved'}">{{data.status}}</span></td>
                           <td>
                              <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenterApproved">
                              <i class="bi bi-check-lg "  style="cursor: pointer;" ></i></button>
                              <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenterReject">
                              <i class="bi bi-x-lg" style="margin-left: 10px;cursor: pointer;"></i>
                           </button>
                          </td>
                        </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
        <!-- Modal for approved -->
        <div class="modal fade" id="exampleModalCenterApproved" tabindex="-1" role="dialog"     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle" style="align-items: center; justify-content: center;">Approved</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               Are you sure you want to approved it
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
               <button type="button" class="btn btn-primary">Approved</button>
             </div>
           </div>
         </div>
       </div>
     <!-- Model for reject -->
     <div class="modal fade" id="exampleModalCenterReject" tabindex="-1" role="dialog"     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="display: flex; align-items: center; justify-content: center;">Reject</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label> Reason * </label>
            <p>Note: The reason will be shared width merchant.</p>
            
            <div class="form-floating mb-3"><textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px;"></textarea><label for="floatingTextarea">Comments</label></div>
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Reject</button>
          </div>
        </div>
      </div>
    </div>
 </main>